@media screen and (max-width: 1600px)
    .internet
        &__card
            &-title
                max-width: 330px
    .debt
        &__money
            &--1
                width: 190px
                top: -40px


@media screen and (max-width: 1550px)
    .property
        &__row
            padding: 0 40px
    .positive
        &__content
            margin-left: -120px
        &__money
            width: 250px
            top: 25%
    .main
        &__box
            margin-left: 0

@media screen and (max-width: 1400px)
    .internet
        &__card
            &-title
                max-width: 280px
    .digits
        &__box
            grid-template-columns: 1fr 1fr
            grid-template-rows: 1fr 1fr
            grid-gap: 10px
        &__row
            justify-content: space-around
            align-items: flex-start
        &__title
            padding-top: 50px
    .positive
        &__box
            flex-direction: column
            align-items: center
        &__content
            margin-left: 0
            margin-top: -70%
        &__row
            justify-content: space-around
    .doubt
        &__row
            padding-right: 0
    .trust
        &__wrap
            padding-left: 0
            &-case
                margin-right: 20px
    .help__box
        width: 200px
    .help__screen__inner
        p
            font-size: 18px
    .life-after
        &__card-step
            &__num

            &__main
                font-size: 16px

@media screen and (max-width: 1300px)
    .footer
        &__row
            padding-right: 0

@media screen and (max-width: 1200px)
    .quiz
        &__img
            &--mobile
                margin-right: 0
        &__row
            &--mobile
                justify-content: space-between
        &__box
            &-title
                &--mobile
                    font-size: 21px
                    line-height: 24px
        &__span
            font-size: 17px
            line-height: 20px
        &__input
            &-group
                margin-bottom: 30px
        &__modal
            padding: 70px 60px
            min-width: 320px
            z-index: 5
            &-title
                font-size: 30px
                line-height: 37px
                margin-bottom: 50px
            &-text
                font-size: 21px
                line-height: 25px
            &-img
                width: 96px
                height: 96px
    .form-block
        padding-bottom: 80px
    .internet
        padding-bottom: 70px
        &__wrap
            margin-bottom: 17px
        &__container
            grid-template: repeat(5, 1fr) / 1fr 1fr
            grid-gap: 20px
        &__title
            margin-bottom: 30px
        &__subtitle
            font-size: 20px
            line-height: 24px
            margin-bottom: 85px
            max-width: 860px
        &__card
            &-text
                font-size: 16px
                line-height: 20px
            &-title
                max-width: 215px
            &:last-of-type
                transform: translateX(50%)
    .stages
        background-size: 50%
        padding-top: 70px
        &__subtitle
            font-size: 20px
            line-height: 24px
            margin-bottom: 80px
            max-width: 860px
        &__title
            margin-bottom: 30px
        &__card
            &-text
                font-size: 16px
                line-height: 20px
    .property
        &__title
            font-size: 30px
            line-height: 39px
            max-width: 480px
        &__text
            font-size: 20px
            line-height: 24px
            max-width: 480px
        &__row
            padding: 0
    .digits
        padding-top: 90px
        &__card
            &-title
                font-size: 39px
                line-height: 50px
            &-subtitle
                font-size: 20px
                line-height: 24px
            &-text
                font-size: 16px
                line-height: 22px
    .positive
        padding-top: 130px
        padding-left: 30px
        padding-right: 30px
        &__money
            top: 15%
        &__subtitle
            margin-bottom: 80px
        &__content
            &-title
                font-size: 24px
                line-height: 29px
        &__row
            justify-content: space-between
    .comments
        padding-top: 50px
        &__subtitle
            margin-bottom: 60px
    .footer
        padding-top: 70px
        padding-bottom: 60px
        &__subtitle
            font-size: 27px
            line-height: 32px
        &__info
            font-size: 16px
            margin-bottom: 50px
            max-width: 570px
        &__text
            font-size: 20px
            line-height: 23px
            max-width: 570px
        & .form__title
            font-size: 21px
            line-height: 25px
        & .footer__input
            padding: 15px
        &__title
            max-width: 570px
        &__subtitle
            max-width: 570px
        &__form
            margin-top: -140px
    .doubt
        padding-top: 75px
        &__circles
            width: 70px
        &__img
            max-width: 470px
            margin-right: 10px
        &__box
            padding-top: 30px
        &__text
            font-size: 21px
            line-height: 25px
            margin-bottom: 45px
        &__title
            margin-bottom: 30px
    .trust
        padding-top: 80px
        &__box
            &--right
                flex-basis: 45%
                padding-right: 0
            &--left
                flex-basis: 55%
                padding-top: 0
                margin-right: 10px
        &__text
            font-size: 17px
            line-height: 20px
            max-width: 340px
        &__row
            justify-content: space-around
            &--bottom
                align-items: center
        &__dots
            display: none
        &__title
            margin-bottom: 20px
        &__block
            margin-bottom: 50px
    .section
        &__title
            font-size: 39px
            line-height: 50px
        &__subtitle
            font-size: 30px
            line-height: 36px
    .debt
        &__card
            &-text
                max-width: 235px

    .security
        background-image: none
        &__row
            justify-content: center
        &__img-desctop
            display: none

        &__img-mobile
            display: block
        &__title
            text-align: center
        &__subtitle
            text-align: center
    .help__screen__inner
        p
            font-size: 16px
    .help
        padding-bottom: 90px
    .life-after
        &__subtitle
            &::after
                display: none
        &__row
            flex-direction: column
            align-items: center
        &__card-step
            margin: 25px 0
            &__num

            &__main
    .emotion
        position: relative
        background-image: none
        padding: 0 !important
        &__mobile-img
            display: block
            width: 350px
            position: absolute
        &__list-title
            display: block
        &__row
            flex-direction: column
            overflow: hidden
            padding-bottom: 65px
        &__img-block
            display: none
        &__negative
            width: auto
            align-self: flex-end
            padding-right: 15%
            &__img
                display: none
            &__img-mobile
                right: 0
                top: 0
                transform: translateX(50%)
        &__positive
            width: auto
            align-self: flex-start
            padding-left: 15%
            &__img
                display: none
            &__img-mobile
                left: 0
                top: 0
                transform: translateX(-50%)
        .list-title
            display: block




@media screen and (max-width: 992px)
    .comments
        &__desctop
            display: none
        &__mobile
            display: flex
    .stages
        background-image: none
        &__row
            flex-direction: column
            align-items: center
        &__box
            text-align: left
            &--left
                margin-right: 0
                margin-bottom: 20px
        &__marker
            margin-right: 15px
            order: -1
        &__card
            &-title
                &--left
                    margin-right: 0
        &__wrap
            &--left
                justify-content: flex-start
    .property
        background: $dark
        padding-top: 60px
        padding-bottom: 60px
        &__bg
            display: none
        &__title
            max-width: 390px
        &__text
            max-width: 390px
    .digits
        &__row
            flex-direction: column
            align-items: center
        &__title
            margin-right: 0
            padding-top: 0
            margin-bottom: 30px
            text-align: center
    .positive
        &__money
            display: none
        &__row
            flex-direction: column
            align-items: center
        &__box
            margin-bottom: 25px
            &:last-of-type
                margin-bottom: 0
    .footer
        &__title
            max-width: 390px
        &__subtitle
            max-width: 390px
        &__info
            max-width: 390px
        &__text
            max-width: 390px
        &__form
            margin-top: 0
    .doubt
        &__circles
            display: none
        &__row
            padding-left: 0
        &__box
            padding-top: 0
            & p:nth-child(1)
                margin-bottom: 10px
            & p:nth-child(5)
                margin-bottom: 20px
            &-text
                font-size: 16px
                line-height: 19px
                &--string
                    padding-left: 15px
        &__img
            max-width: 413px
    .quiz
        &__text
            font-size: 20px
            line-height: 24px
        &__subtitle
            &::after
                width: 190px
        &__row
            flex-direction: column
            align-items: center
            &--mobile
                flex-direction: row
                align-items: flex-start
        &__form
            min-height: 300px
        &__tel
            width: 80%
        &__box
            display: flex
            flex-wrap: wrap
            justify-content: center

    .trust
        padding-top: 60px
        &__box
            flex-basis: 100%
            &--left
                margin-right: 0
        &__row
            justify-content: center
            &-main
                flex-wrap: wrap
        &__wrap
            margin-bottom: 65px
            &-case
                flex-basis: auto
        &__block
            margin-bottom: 30px
        &__img
            display: flex
            justify-content: center
        &__title
            text-align: center
            margin-bottom: 30px
    .menu
        padding: 20px 10px
        &__row
            align-items: center
        &__city
            font-size: 21px
        &__tel
            font-size: 18px
    .main
        padding-top: 70px
        position: relative
        &__container
            position: relative
            z-index: 2
        &::before
            content: ''
            position: absolute
            width: 100%
            height: 100%
            left: 0
            top: 0
            background: rgba(0,0,0,0.4)
            z-index: 1
        &__title
            font-size: 36px
            line-height: 46px
            max-width: 480px
            text-align: center
            margin: auto
        &__text
            font-size: 16px
            line-height: 19px
        &__subtitle
            font-size: 16px
            line-height: 19px
            padding: 7px 0 7px 15px
        &__box
            justify-content: center
        &__button
            display: block
            margin: auto

    .debt
        padding-top: 100px
        &__subtitle
            font-size: 28px
            line-height: 34px
        &__dots
            bottom: -95px
        &__card
            &-text
                max-width: 185px
        &__text
            margin-bottom: 50px
        &__money
            display: none
    .help
        &__screen
            background-color: $dark
            position: relative
            width: 100%
            left: auto
            transform: none
            bottom: auto
            img
                display: none
            &__inner
                position: relative
                width: 100%
                top: auto
                left: auto
                transform: none
                height: auto
                padding: 70px

                p
                    position: relative
                    font-size: 24px
    .form-block
        padding-top: 30px
        &__title
            text-align: center
        &__subtitle
            justify-content: center
        &__row
            flex-direction: column
            align-items: center
        &__description
            margin-right: 0
            margin-bottom: 35px
        &__offer
            text-align: center
            background-color: #fff
            font-size: 18px
            padding: 0
            margin-top: 35px

@media screen and (max-width: 850px)
    .doubt
        &__img
            max-width: 400px
    .debt
        &__dots
            bottom: -90px

@media screen and (max-width: 767px)
    .life-after
        &__card-step
            width: auto
    .policy
        & label.invalid
            left: 35px
            bottom: -13px
    .modal
        &__form
            padding: 20px
            &-title
                font-size: 30px
                line-height: 37px
            &-text
                font-size: 14px
                line-height: 17px
                max-width: 270px
        &__policy-label
            max-width: 170px
        &__input
            font-size: 14px
            line-height: 17px
            padding: 15px
        &__button
            font-size: 14px
            line-height: 17px
            width: 100%
        &__close
            font-size: 16px
            line-height: 20px
    .quiz
        &__img
            &--mobile
                display: none
        &__box
            &--mobile
                flex-direction: column
                align-items: center
        &__row
            &--mobile
                justify-content: center
    .internet
        &__container
            display: flex
            flex-direction: column
            align-items: center
            grid-gap: 25px
        &__card
            margin-bottom: 10px
            &-title
                max-width: 320px
            &:last-of-type
                transform: none
            &--none
                display: none
        &__more
            display: block
            margin-top: 20px
    .property
        &__row
            flex-direction: column
            align-items: center
        &__text
            margin-bottom: 60px
            max-width: 100%
        &__title
            max-width: 100%
    .footer
        padding-bottom: 140px
        &__row
            flex-direction: column
            align-items: center
        &__title
            margin: auto
            text-align: center
            margin-bottom: 10px
        &__subtitle
            margin-left: auto
            margin-right: auto
            text-align: center
        &__text
            position: absolute
            bottom: 30px
            left: 50%
            transform: translateX(-50%)
            width: 355px
        &__substrate
            display: block
        &__img
            display: none
        &__menu__tel-img
            display: none !important
        &-menu
            text-align: center
            padding: 30px !important
            & span
                display: block !important
                order: 1
                margin-bottom: 20px
                font-size: 30px
                line-height: 38px
                font-family: 'Gilroy-Black'
            & .menu__box
                display: flex
                flex-direction: column
                align-items: center
                order: 2
            & .menu__row
                flex-direction: column
            & .menu__city
                order: 0
                margin-bottom: 20px
    .doubt
        padding-bottom: 50px
        &__text
            margin-bottom: 30px
        &__row
            flex-direction: column
        &__img
            max-width: 100%
            margin-right: 0
            margin-bottom: 30px
    .section
        padding-left: 10px
        padding-right: 10px
    .menu
        padding: 10px 20px
        &__city
            &--main
                display: none
        &--main .menu__label
            font-size: 24px
            line-height: 29px
        &--main .menu__text
            font-size: 12px
            line-height: 15px
        &--main .menu__img
            width: 28px
        &__tel
            & span
                 display: none
            &-img
                display: block
    .main
        padding: 40px 10px
        background-image: none
        &::before
            display: none
        &__title
            margin-bottom: 30px
            font-size: 24px
            line-height: 31px
        &__text
            font-size: 14px
            line-height: 17px
            max-width: 220px
            padding-left: 0
            align-self: flex-end
            margin-bottom: 20px
        &__wrap
            width: 100%
            display: flex
            flex-direction: column
            padding-bottom: 0
        &__subtitle
            margin: auto
            padding-left: 0
            background-position: center
            background-image: url(../img/main/Rectangle-mobile.png)
            text-align: center
            width: 100%
            font-size: 14px
            line-height: 17px
            & span
                max-width: 220px
                display: block
                margin: auto
        &__button
            margin-top: -4px
        &__img
            width: 80px
            position: absolute
            left: 0
            top: 0
            &-mobile
                display: block
                margin: auto
        &__box
            max-width: 350px
            margin-left: auto
            margin-right: auto
            margin-bottom: 0
    .debt
        padding-top: 75px
        &__dots
            display: none
        & br
            display: block
        &__subtitle
            max-width: 500px
            display: flex
            flex-direction: column
            margin: auto
            text-align: center
            &--span
                &-left
                    margin-right: 0
                    margin-bottom: 10px
            &-bg
                width: 60%
                left: 50%
                transform: translateX(-50%)
        &__title
            max-width: 450px
            margin: auto
            line-height: 45px
            &-bg
                display: none
                &--mobile
                    display: block
                    transform: translate(-49.1%, -45%)
                    max-width: 500px
                    & img
                        width: 100%
        &__row
            display: grid
            grid-template: 1fr 1fr/1fr 1fr
            grid-row-gap: 30px
        &__card
            &-text
                margin: auto
        &__text
            margin-bottom: 30px
    .help
        &__inner
            justify-content: center
        &__box
            margin: 10px 0

@media screen and (max-width: 575px)
    .internet
        padding-top: 50px
        padding-bottom: 50px
        &__title
            margin-bottom: 20px
        &__subtitle
            font-size: 16px
            line-height: 19px
            margin-bottom: 70px
            color: $dark
        &__card
            &-title
                font-size: 16px
                line-height: 20px
                max-width: 215px
            &-text
                font-size: 14px
                line-height: 17px
        &__wrap
            margin-bottom: 10px
    .stages
        padding-top: 60px
        padding-bottom: 60px
        &__subtitle
            font-size: 16px
            line-height: 19px
            margin-bottom: 60px
        &__title
            margin-bottom: 20px
        &__card
            margin-bottom: 20px
            &:last-of-type
                margin-bottom: 0
            &-title
                font-size: 16px
                line-height: 20px
                max-width: 245px
            &-text
                font-size: 14px
                line-height: 17px
    .property
        &__title
            font-size: 24px
            line-height: 31px
        &__text
            font-size: 16px
            line-height: 19px
        &__button
            width: 100%
    .digits
        padding-top: 70px
        padding-right: 0
        &__row
            align-items: flex-end
        &__title
            max-width: 290px
            color: $dark
            align-self: center
        &__box
            display: flex
            flex-direction: column
            width: 100%
        &__card
            padding: 20px
            display: flex
            flex-direction: column
            margin-bottom: 10px
            &-title
                font-size: 24px
                line-height: 31px
                margin-right: 10px
            &-subtitle
                font-size: 16px
                line-height: 19px
            &-text
                font-size: 14px
                line-height: 17px
                text-align: left
                max-width: 100%
            &-wrap
                margin-bottom: 10px
                display: flex
                align-items: center
    .positive
        padding-left: 15px
        padding-right: 15px
        &__marker
            width: 21px
            left: -35px
            top: 0px
        &__img
            display: none
        &__subtitle
            margin-bottom: 50px
        &__box
            &--right
                text-align: right
                & .positive__marker
                    left: auto
                    right: -30px
        &__content
            margin-top: 0
            min-height: 0
            padding-top: 30px
            padding-bottom: 10px
            padding-left: 25px
            padding-right: 20px
            &-title
                font-size: 18px
                line-height: 22px
                margin-bottom: 20px
            &-text
                font-size: 14px
                line-height: 17px
                margin-bottom: 15px
    .positive
        padding-top: 50px
        &__title
            margin-bottom: 10px
    .comments
        padding-top: 50px
        &__title
            margin-bottom: 10px
        &__subtitle
            margin-bottom: 30px
    .footer
        padding-top: 50px
        padding-bottom: 120px
        &__subtitle
            font-size: 24px
            line-height: 29px
            margin-bottom: 40px
        &__info
            font-size: 14px
        &__text
            font-size: 16px
            line-height: 19px
            width: 300px
        & .form__title
            font-size: 18px
            line-height: 22px
        &__button
            width: 100%
            font-size: 14px
            padding: 20px
        &__form
            &-text
                font-size: 12px
                line-height: 14px
        & .form__radio-container
            margin-bottom: 0
        & .form__radio-container__title
            margin-top: 5px
    .doubt
        padding-top: 50px
        &__text
            font-size: 18px
            line-height: 22px
            color: $dark
        &__title
            margin-bottom: 20px
    .subtitle-purple
        font-size: 16px
        line-height: 19px
        color: $dark

    .quiz
        &__title
            margin-bottom: 13px
        &__subtitle
            margin-bottom: 50px
            &::after
                width: 100px
                bottom: -25px
        &__text
            font-size: 16px
            line-height: 19px
            color: $dark
            &--mobile
                display: none
        &__row
            &--mobile
                justify-content: flex-start
        &__box
            &--mobile
                align-items: flex-start
            &-title
                &--mobile
                    margin-bottom: 30px
                    font-size: 18px
                    line-height: 22px
        &__span
            font-size: 14px
            line-height: 17px
        &__button
            padding: 20px 35px
        &__form
            border: 2px solid $purple
            padding: 20px
            box-shadow: 0px 48px 50px -40px rgba(45, 31, 97, 0.5)
            border-radius: 16px
        &__modal
            padding: 50px 10px
            min-width: 0
            width: 280px
            &-title
                font-size: 24px
                line-height: 30px
            &-text
                font-size: 18px
                line-height: 22px
    .main
        &__title
            max-width: 320px
    .trust
        text-align: center
        &__number
            &-footer
                text-align: center
                margin-bottom: 20px
                position: relative
                &::after
                    content: ''
                    position: absolute
                    width: 40px
                    height: 1px
                    background-color: $purple
                    bottom: -10px
                    left: 50%
                    transform: translateX(-50%)
        &__img
            &--main
                display: none
            &--mobile
                display: block
                width: 100%
        &__text
            font-size: 14px
            line-height: 17px
        &__wrap
            &-case
                margin: 0
        &__row
            flex-direction: column
    .section
        &__title
            font-size: 30px
            line-height: 38px
        &__subtitle
            font-size: 24px
            line-height: 29px
    .debt
        padding-top: 35px
        padding-bottom: 75px
        &__title
            max-width: 360px
            &-box
                margin-bottom: 50px
            &-bg
                &--mobile
                    transform: translate(-50%, -50%)
                    & img
                        width: auto
        &__subtitle
            font-size: 20px
            line-height: 24px
            &-bg
                width: 225px
        &__card
            &-text
                font-size: 14px
                line-height: 17px
        &__text
            font-size: 20px
            line-height: 24px
    .help
        padding-bottom: 50px
        &__inner
        &__subtitle
            color: $purple

        &__box
            width: 150px
            &__discription
                font-size: 14px
            &__num
                display: none
            &__header
                &__inner
                    display: flex
                    justify-content: center
                img
                    width: 80%
        &__screen
            &__inner
                padding: 70px 15px
                p
                    font-size: 16px
    .life-after
        &__card-step
            background: none
            border: none
            flex-direction: column
            align-items: center
            margin: 25px 0
            padding: 0
            &__main
                text-align: center
    .emotion
        &__list
            &__item
                font-size: 14px
        &__mobile
            &-img
                z-index: -1
    .form-block
        padding-bottom: 60px





@media screen and (max-width: 420px)
    .modal
        align-items: flex-start
        overflow: scroll
    .quiz
        &__text
            max-width: 270px

@media screen and (max-height: 630px)
    .quiz
        &__modal
            &-wrap
                overflow: scroll
                align-items: flex-start
